PORT=3100
JWT_SECRET="your-super-secret-jwt-key-change-this"
FRONTEND_ORIGIN="http://localhost:3000"
READER_DEVICE_SECRET="change-me-reader-secret"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgrespassword"
POSTGRES_DB="student_id_db"
DB_PORT=5432

# when db running in docker and app is on host machine
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/student_id_db?schema=public"

# when both on docker
# DATABASE_URL="postgresql://postgres:postgrespassword@db:5432/student_id_db?schema=public"